:root {
	--lavender: #b57edc;
	--lavender-light: #dbb7f5;
	--black: #000;
	--pink-light: #ffe6f0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: var(--black);
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: var(--lavender);
	text-decoration: underline;
}

body {
	margin: 10px;
	font-family: Arial, sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 150px auto 40px;

	grid-template-areas: 'header' 'main' 'footer';

	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

header {
	background: var(--lavender);
	color: white;
	padding: 20px;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.header-content img {
	height: 50px;
	transition: transform 0.3s ease;
	border-radius: 5px;
}

.header-content img:hover {
	transform: scale(1.05);
}

.main {
	padding: 20px;
	display: grid;
	gap: 20px;
}

.intro {
	display: grid;
	grid-template-columns: 200px 1fr;
	align-items: center;
}

.photo img {
	max-width: 200px;
	border-radius: 8px;
	transition: transform 0.3s ease;
}

.photo img:hover {
	transform: scale(1.05);
}

.university-info {
	margin: 20px;
	font-size: 16px;
	line-height: 1.5;
}

.content-grid {
	display: grid;
	gap: 20px;
}

.block {
	padding: 15px;
	border-radius: 8px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease;
	text-align: justify;
}

.block:hover {
	transform: scale(1.01);
}

.block p {
	line-height: 1.6;
}

ul {
	margin-left: 2.5em;
	list-style-type: disc;
}

li {
	margin-bottom: 0.5em;
}

.hobby-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 15px;
	text-align: center;
}

.hobby {
	display: grid;
	background-color: var(--pink-light);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s ease;
}

.hobby strong {
	display: block;
}

.hobby:hover {
	transform: scale(1.03);
}

.hobby-small {
	text-align: center;
}

.sidebar {
	background: var(--lavender-light);
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

.ads-footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	padding: 10px;
	background: var(--lavender-light);
	border-radius: 10px;
}

.ad {
	background: white;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s ease;
}

.ad:hover {
	transform: scale(1.02);
}

footer {
	background: var(--lavender);
	color: white;
	text-align: center;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
